---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Spotify Clone">
	<main id="main">
	</main>
</Layout>

<style>
	#main {
		margin: auto;
		padding: 1rem;
		width: 100%;
	}
</style>
