---

import SideMenuItem from "./SideMenuItem.astro";
import Icon_home from "../components/logo_icon/Icon_home.astro"; 
import Search_icon from "../components/logo_icon/Search_icon.astro";
import Library_icon from "../components/logo_icon/Library_icon.astro"; 


import { playlist } from "../lib/dataPlayList";

---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-800 rounded-lg p-2">
      <ul class="">
          <SideMenuItem href="/">
            <Icon_home />
            Home
          </SideMenuItem>
          <SideMenuItem href="/">
            <Search_icon />
            Search
          </SideMenuItem>
      </ul>
  </div>
  
  <div class="bg-zinc-800 rounded-lg p-2" >
    <ul class="" >
     <SideMenuItem>
       <Library_icon />
        Your Library
     </SideMenuItem>
    </ul>
  </div>
</nav>