---

import SideMenu from "./SideMenu.astro";
import Icon_home from "../components/logo_icon/Icon_home.astro"; 
import Search_icon from "../components/logo_icon/Search_icon.astro";

---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-800 rounded-lg p-2">
      <ul class="">
          <SideMenu href="/">
            <Icon_home />
            Home
          </SideMenu>
          <SideMenu href="/">
            <Search_icon />
            Search
          </SideMenu>
      </ul>
  </div>
  
  <div class="bg-zinc-800 rounded-lg p-2" >
    <ul class="" >

    </ul>
  </div>
</nav>